django
menu
djangorestframework
dateparser
tld
django_ratelimit
pymemcache
inflection
uritemplate
pyyaml
django-simple-menu
tldextract
python-nmap
dnspython
django-extensions
Werkzeug
pyOpenSSL
requests
gunicorn
psycopg2-binary
mozilla-django-oidc>=4.0.0
