{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
  #table_list_projects tbody tr.selected td {
    background-color: #B0BED9
  }

  #table_list_projects tbody tr.odd.selected td {
    background-color: #acbad4
  }
</style>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
  <div class="media">
    <div class="media-left">
    </div>
    <div class="media-body">
      <h2 class="media-heading">Asset Suggestions</h2>Suggested assets that were discovered
    </div>
  </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif  %}>{{ message }}</div>{% endfor %}{% endif %}

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">// General Actions</div>
    <div class="panel-body">
      <!-- Add Suggestion Button -->
      <div class="action-section">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#SuggestionModal">Add Domain</button>&nbsp;
        <button type="button" class="btn btn-primary btn-xs" onclick="location.href='{% url 'suggestions:export' %}'">Export to csv</button>&nbsp;
        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ScanSuggestionsModal">Scan all suggestions</button>&nbsp;
      </div>
      <hr>
      <!-- File Upload Form -->
      <form action="{% url 'suggestions:upload_suggestions' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="domain_file" class="btn btn-default btn-xs">Choose File</label>
        <input type="file" id="domain_file" name="domain_file" accept=".txt" style="display: none;">
        <button type="submit" class="btn btn-primary btn-xs">Upload Domains file</button>
      </form>
    </div>
  </div>
</div>

<form id="form-selected" action="" method="POST">
  {% csrf_token %}

  <div class="container-fluid" style="padding-left:0; padding-right:0;">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">// Selected Actions</div>
          <div class="panel-body">
            <button type="submit" name="btnmonitor" id="monitor-selected" class="btn btn-primary btn-xs">Monitor selected</button>&nbsp;
            <button type="submit" name="btnignore" id="ignore-selected" class="btn btn-primary btn-xs">Ignore selected</button>&nbsp;
            <button type="submit" name="btndelete" id="delete-selected" class="btn btn-primary btn-xs confirm">Delete selected</button>&nbsp;
            <button type="button" id="scan-selected-suggestions-btn" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ScanSuggestionsModal">Scan selected suggestions</button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Suggestion Tabs -->
  <div class="panel panel-default">
    <div class="panel-heading">
      // Current Suggestions
    </div>
    <div class="panel-body">
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" {% if activetab == 'domain' %}class="active" {% endif %}>
            <a href="#allDomains" aria-controls="allDomains" role="tab" data-toggle="tab">
              <span>All Domains <span class="label label-default">{{ domain_count }}</span></span>
            </a>
          </li>
          <li role="presentation" {% if activetab == 'subdomain' %}class="active" {% endif %}>
            <a href="#secondLevelDomains" aria-controls="secondLevelDomains" role="tab" data-toggle="tab">
              <span>2nd level domains <span class="label label-default">{{ secondleveldomain_count }}</span></span>
            </a>
          </li>
          <li role="presentation" {% if activetab == 'starreddomain' %}class="active" {% endif %}>
            <a href="#starredDomains" aria-controls="starredDomains" role="tab" data-toggle="tab">
              <span>Starred Domains <span class="label label-default">{{ starreddomain_count }}</span></span>
            </a>
          </li>
          <!-- <li role="presentation" {% if activetab == 'ipaddress' %}class="active"{% endif %}>
            <a href="#sipaddress" aria-controls="sipaddress" role="tab" data-toggle="tab">
                <span>IP Addresses <span class="label label-default">{{ ip_count }}</span></span>
            </a>
        </li> -->
        </ul><br />
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade {% if activetab == 'domain' %}in active{% endif %}" id="allDomains">
            <table id="table_list_domain_suggestions" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;" width="100%">
              <thead>
                <tr>
                  <th><input type="checkbox" name="select_all" value="1" id="select-all-items-dom">&nbsp; Operations</th>
                  <th>Value</th>
                  <th>Source</th>
                  <th>Description</th>
                  <th>Redirect to</th>
                  <th>Created</th>
                  <th>Monitor</th>
                  <th>Active</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th></th>
                  <th><input type="text" placeholder="Search Value" class="column-search-input" data-column="1"></th>
                  <th><input type="text" placeholder="Search Source" class="column-search-input" data-column="2"></th>
                  <th><input type="text" placeholder="Search Description" class="column-search-input" data-column="3"></th>
                  <th><input type="text" placeholder="Search Redirect" class="column-search-input" data-column="4"></th>
                  <th><input type="text" placeholder="Search Created" class="column-search-input" data-column="5"></th>
                  <th>
                    <select class="column-search-input" data-column="6">
                      <option value="">All</option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                      <option value="none">None</option>
                    </select>
                  </th>
                  <th>
                    <select class="column-search-input" data-column="7">
                      <option value="">All</option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                      <option value="none">None</option>
                    </select>
                  </th>
                </tr>
              </thead>
            </table>
          </div>

          <div role="tabpanel" class="tab-pane fade {% if activetab == 'subdomain' %}in active{% endif %}" id="secondLevelDomains">
            <table id="table_list_second_level_domain_suggestions" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;" width="100%">
              <thead>
                <tr>
                  <th><input type="checkbox" name="select_all" value="1" id="select-all-items-sub">&nbsp; Operations</th>
                  <th>Value</th>
                  <th>Source</th>
                  <th>Description</th>
                  <th>Redirect to</th>
                  <th>Created</th>
                  <th>Monitor</th>
                  <th>Active</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th></th>
                  <th><input type="text" placeholder="Search Value" class="column-search-input" data-column="1"></th>
                  <th><input type="text" placeholder="Search Source" class="column-search-input" data-column="2"></th>
                  <th><input type="text" placeholder="Search Description" class="column-search-input" data-column="3"></th>
                  <th><input type="text" placeholder="Search Redirect" class="column-search-input" data-column="4"></th>
                  <th><input type="text" placeholder="Search Created" class="column-search-input" data-column="5"></th>
                  <th>
                    <select class="column-search-input" data-column="6">
                      <option value="">All</option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                      <option value="none">None</option>
                    </select>
                  </th>
                  <th>
                    <select class="column-search-input" data-column="7">
                      <option value="">All</option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                      <option value="none">None</option>
                    </select>
                  </th>
                </tr>
              </thead>
            </table>
          </div>

          <div role="tabpanel" class="tab-pane fade {% if activetab == 'starreddomain' %}in active{% endif %}" id="starredDomains">
            <table id="table_list_starreddomain_suggestions" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;" width="100%">
              <thead>
                <tr>
                  <th><input type="checkbox" name="select_all" value="1" id="select-all-items-starred">&nbsp; Operations</th>
                  <th>Value</th>
                  <th>Source</th>
                  <th>Description</th>
                  <th>Redirect to</th>
                  <th>Created</th>
                  <th>Monitor</th>
                  <th>Active</th>
                </tr>
              </thead>
              <thead>
                <tr>
                  <th></th>
                  <th><input type="text" placeholder="Search Value" class="column-search-input" data-column="1"></th>
                  <th><input type="text" placeholder="Search Source" class="column-search-input" data-column="2"></th>
                  <th><input type="text" placeholder="Search Description" class="column-search-input" data-column="3"></th>
                  <th><input type="text" placeholder="Search Redirect" class="column-search-input" data-column="4"></th>
                  <th><input type="text" placeholder="Search Created" class="column-search-input" data-column="5"></th>
                  <th>
                    <select class="column-search-input" data-column="6">
                      <option value="">All</option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                      <option value="none">None</option>
                    </select>
                  </th>              
                  <th>
                    <select class="column-search-input" data-column="7">
                      <option value="">All</option>
                      <option value="true">True</option>
                      <option value="false">False</option>
                      <option value="none">None</option>
                    </select>
                  </th>
                </tr>
              </thead>
            </table>
          </div>

          <!-- <div role="tabpanel" class="tab-pane fade {% if activetab == 'ipaddress' %}in active{% endif %}" id="sipaddress">
            <table id="table_list_ipaddress_suggestions" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;" width="100%">
                <thead>
                    <th><input type="checkbox" name="select_all" value="1" id="select-all-items-ip">&nbsp; Operations</th>
                    <th>Value</th>
                    <th>Source</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Active</th>
                </thead>
            </table>
        </div> -->
        </div>
      </div>
    </div>
  </div>

</form> <!-- close selection form -->

<!-- Separate File Upload Form -->
<!-- Hidden File Upload Form -->
<form id="file-upload-form" action="{% url 'suggestions:upload_suggestions' %}" method="post"
  enctype="multipart/form-data" style="display: none;">
  {% csrf_token %}
  <input type="file" id="hidden-domain-file" name="domain_file" accept=".txt">
</form>

<!-- Add Suggestion Modal -->
<div class="modal fade bs-example-modal-sm" id="SuggestionModal" tabindex="-1" role="dialog"
  aria-labelledby="addSuggestionModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4> New Suggestion </h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'suggestions:manual_add_suggestion' %}" method="post" class="SuggestionAdd">
          {% csrf_token %}
          {{ suggestionform }}
          <br />
          <input type="submit" class="btn btn-primary" value="Add Suggestion" />
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Scan Suggestions Modal -->
<div class="modal fade" id="ScanSuggestionsModal" tabindex="-1" role="dialog" aria-labelledby="scanSuggestionsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="scan-suggestions-form" action="{% url 'suggestions:scan_suggestions' %}" method="post">
        <div class="modal-header">
          <h4>Scan Suggestions</h4>
        </div>
        <div class="modal-body">
          {% csrf_token %}

          <div class="form-group">
            <div class="form-check d-flex align-items-center" style="gap: 8px;">
              <input type="checkbox" class="form-check-input" id="subfinder_scan" name="subfinder_scan" >
              <label class="form-check-label mb-0" for="subfinder_scan" style="margin-bottom:0; margin-left:6px;">
                Subfinder scan (all starred domains if using the scan all button)
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check d-flex align-items-center" style="gap: 8px;">
              <input type="checkbox" class="form-check-input" id="scan_for_redirection" name="scan_for_redirection" >
              <label class="form-check-label mb-0" for="scan_for_redirection" style="margin-bottom:0; margin-left:6px;">
                Redirect Scan
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check d-flex align-items-center" style="gap: 8px;">
              <input type="checkbox" class="form-check-input" id="scan_dns_records" name="scan_dns_records" >
              <label class="form-check-label mb-0" for="scan_dns_records" style="margin-bottom:0; margin-left:6px;">
                Scan for active status
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check d-flex align-items-center" style="gap: 8px;">
              <input type="checkbox" class="form-check-input" id="monitor_not_redirecting" name="monitor_not_redirecting">
              <label class="form-check-label mb-0" for="monitor_not_redirecting" style="margin-bottom:0; margin-left:6px;">
                AutoMonitor the domains not redirecting (will be done after the scans if any selected)
              </label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Run</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endspaceless%}
{% endblock%}

{% block javascript %}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">

  $(document).ready(function () {
    function initializeDataTable(tableId, ajaxUrl) {
      return $(tableId).DataTable({
        processing: true,
        serverSide: true,
        pageLength: 25,
        orderCellsTop: true,
        oLanguage: { sProcessing: "<img src='{% static 'img/loading.gif' %}'>", },
        order: [[1, "asc"]],
        ajax: {
          url: ajaxUrl,
          dataSrc: "results",
          type: "GET",
          dataType: "json"
        },
        columns: [
          {
            'data': 'uuid', 'sName': 'Operations', 'aTargets': [0], 'bSortable': false,
            "mRender": function (data, type, full) {
              var monitor_url = "{% url 'suggestions:monitor_suggestion' uuid=0 %}".replace(0, full.uuid);
              var ignore_url = "{% url 'suggestions:ignore_suggestion' uuid=0 %}".replace(0, full.uuid);
              var delete_url = "{% url 'suggestions:delete_suggestion' uuid=0 %}".replace(0, full.uuid);
              return '<div class="btn-group1">' +
                '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">&nbsp;&nbsp;' +
                '<a class="btn btn-xs" rel="tooltip" data-placement="right" data-original-title="Monitor Entry" data-href="#" href="' + monitor_url + '">' +
                '<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>' +
                '</a> ' +
                '<a class="btn btn-xs" rel="tooltip" data-placement="right" data-original-title="Ignore Entry" data-display="' + full.value + '" href="' + ignore_url + '">' +
                '<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>' +
                '</a> ' +
                '<a class="btn btn-xs btn-column confirm" rel="tooltip" data-placement="right" data-original-title="Delete Entry" data-display="' + full.value + '" data-href="' + delete_url + '" href="#">' +
                '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>' +
                '</a> ' +
                '</div>';
            },
            "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
              $("a", nTd).tooltip();
            }
          },
          { 'data': 'value', 'sName': 'Value', 'aTargets': [1] },
          { 'data': 'source', 'sName': 'Source', 'aTargets': [2] },
          { 'data': 'description', 'sName': 'Description', 'aTargets': [3] },
          { 'data': 'redirects_to', 'sName': 'Redirect', 'aTargets': [4] },
          { 'data': 'creation_time', 'sName': 'Created', 'aTargets': [5],
            'render': function(data, type, row) {
              if (!data) return '';
              // Use moment.js for formatting if available
              if (window.moment) {
                return moment(data).format('DD-MM-YYYY HH:mm');
              }
              // Fallback: just show the string
              return data;
            }
          },
          { 'data': 'monitor', 'sName': 'Monitor', 'aTargets': [6] },
          { 'data': 'active', 'sName': 'Active', 'aTargets': [7] }
        ]
      });
    }

    var domTable = initializeDataTable('#table_list_domain_suggestions', "/api/v1/project/{{ projectid }}/suggestions/visible/domain/");
    var subTable = initializeDataTable('#table_list_second_level_domain_suggestions', "/api/v1/project/{{ projectid }}/suggestions/visible/second_level_domain/");
    var starredTable = initializeDataTable('#table_list_starreddomain_suggestions', "/api/v1/project/{{ projectid }}/suggestions/visible/starred_domain/");

    function applySearch(table, tableId) {
      // Find the second header row (filter row) and bind to its inputs/selects
      var $filterRow = $(tableId + ' thead tr:eq(1)');
      applyDebouncedColumnSearch(table, 'input.column-search-input', 'select.column-search-input', 400, $filterRow);
    }
    
    applySearch(domTable, '#table_list_domain_suggestions');
    applySearch(subTable, '#table_list_second_level_domain_suggestions');
    applySearch(starredTable, '#table_list_starreddomain_suggestions');

    // Initialize common standalone features for multiple tables
    initializeStandaloneFeatures();
    
    // Setup select all for each table
    setupStandaloneSelectAll('#select-all-items-dom', '#table_list_domain_suggestions');
    setupStandaloneSelectAll('#select-all-items-sub', '#table_list_second_level_domain_suggestions');
    setupStandaloneSelectAll('#select-all-items-starred', '#table_list_starreddomain_suggestions');

    // Setup form submission for multiple DataTables
    $('#form-selected').on('submit', function (e) {
      var form = this;
      // Use the common form submission logic for each table
      [domTable, subTable, starredTable].forEach(function(table) {
        table.$('input[type="checkbox"]').each(function () {
          if (!$.contains(document, this)) {
            if (this.checked) {
              $(form).append(
                $('<input>')
                  .attr('type', 'hidden')
                  .attr('name', this.name)
                  .val(this.value)
              );
            }
          }
        });
      });
    });

    $(document).on("click", ".confirm", function (e) {
      e.preventDefault();
      var title = $(this).attr('data-display');
      var location = $(this).attr('data-href');
      var form = $(this).closest('form'); // Find the closest form element
      var buttonName = $(this).attr('name'); // Get the button's name attribute
      var column_button = $(this).hasClass('btn-column')

      bootbox.confirm('Are you sure?', function (confirmed) {
        if (confirmed) {

          if (column_button) {
            // If the class is btn-column, directly relocate to data-href
            window.location.replace(location);
            return;
          }

          if (form.length) {
            // If it's part of a form, append the action URL and button name, then submit the form
            $('<input>')
              .attr('type', 'hidden')
              .attr('name', 'action_url')
              .val(location)
              .appendTo(form);
            if (buttonName) {
              $('<input>')
                .attr('type', 'hidden')
                .attr('name', buttonName)
                .val('true')
                .appendTo(form);
            }
            form.submit();
          }
          
          else {
            // Otherwise, redirect as before
            window.location.replace(location);
          }
        }
      });
    });

    // Track if scan was triggered for selected suggestions
    var scanSelectedSuggestions = false;

    // When "Scan selected suggestions" is clicked, set flag and open modal
    $('#scan-selected-suggestions-btn').on('click', function (e) {
      // Collect checked checkboxes from all tables
      var selectedUuids = [];
      domTable.$('input[type="checkbox"][name="id[]"]:checked').each(function () {
        selectedUuids.push($(this).val());
      });
      subTable.$('input[type="checkbox"][name="id[]"]:checked').each(function () {
        selectedUuids.push($(this).val());
      });
      starredTable.$('input[type="checkbox"][name="id[]"]:checked').each(function () {
        selectedUuids.push($(this).val());
      });

      if (selectedUuids.length === 0) {
        e.preventDefault();
        bootbox.alert("Please select at least one suggestion to scan.");
        scanSelectedSuggestions = false;
        return false;
      }
      scanSelectedSuggestions = true;
      // Modal opens automatically due to data-toggle
    });

    // When "Scan suggestions" is clicked, clear flag
    $('[data-target="#ScanSuggestionsModal"]').not('#scan-selected-suggestions-btn').on('click', function (e) {
      scanSelectedSuggestions = false;
    });

    // On modal form submit, if scanSelectedSuggestions, add selected UUIDs as hidden inputs
    $('#scan-suggestions-form').on('submit', function (e) {
      if (scanSelectedSuggestions) {
        // Remove any previous uuid[] hidden inputs
        $(this).find('input[name="uuid[]"]').remove();

        // Collect checked checkboxes from all tables
        var selectedUuids = [];
        domTable.$('input[type="checkbox"][name="id[]"]:checked').each(function () {
          selectedUuids.push($(this).val());
        });
        subTable.$('input[type="checkbox"][name="id[]"]:checked').each(function () {
          selectedUuids.push($(this).val());
        });
        starredTable.$('input[type="checkbox"][name="id[]"]:checked').each(function () {
          selectedUuids.push($(this).val());
        });

        // Add as hidden inputs
        for (var i = 0; i < selectedUuids.length; i++) {
          $('<input>')
            .attr('type', 'hidden')
            .attr('name', 'uuid[]')
            .val(selectedUuids[i])
            .appendTo(this);
        }
      }
      // else: normal scan, no UUIDs added
    });

    // Clear column search inputs and reset DataTable filters when switching tabs
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      // Clear all search inputs
      $('.column-search-input').val('');
      // Reset search for all tables
      domTable.columns().search('').draw();
      subTable.columns().search('').draw();
      starredTable.columns().search('').draw();
    });
  });

</script>
{% endblock %}