{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
#table_list_projects tbody tr.selected td {background-color:#B0BED9}
#table_list_projects tbody tr.odd.selected td {background-color:#acbad4}
</style>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
            <h2 class="media-heading">Ignored Suggestions</h2>all ignored suggestions ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}

<form id="form-selected" action="" method="POST">
    {% csrf_token %}

<div class="container-fluid" style="padding-left:0; padding-right:0;">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">// Selected Actions</div>
                <div class="panel-body">
                    <button type="submit" name="btnmove" id="move-selected" class="btn btn-primary btn-xs">Suggest selected</button>&nbsp;
                    <button type="submit" name="btndelete" id="delete-selected" class="btn btn-primary btn-xs">Delete selected</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Suggestion Tabs -->
<div class="panel panel-default">
    <div class="panel-heading">
        // Ignored Suggestions
    </div>
    <div class="panel-body">

    <table id="table_list_ignored_suggestions" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
        <thead>
        <th><input type="checkbox" name="select_all" value="1" id="select-all-items">&nbsp; Operations</th>
        <th>Value</th>
        <th>Source</th>
        <th>Description</th>
        <th>Created</th>
        </thead>
    </table>
    
    </div>
</div>

</form>
{% endspaceless%}
{% endblock%}

{% block javascript %}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
    var pTable = $('#table_list_ignored_suggestions').DataTable({
        processing: true, serverSide: true, pageLength: 25, select: true,
        oLanguage: { sProcessing: "<img src='{% static 'img/loading.gif' %}'>", },
        order: [[ 4, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/v1/project/{{ projectid }}/suggestions/ignored/all/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {'data': 'uuid', 'sName': 'Operations', 'aTargets': [ 0 ],
                'bSortable': false,
                "mRender": function (data, type, full) {
                    var delete_url = "{% url 'suggestions:delete_suggestion_ignored' uuid=0 %}".replace(0, full.uuid);
                    var reactivate_url = "{% url 'suggestions:reactivate_suggestion' uuid=0 %}".replace(0, full.uuid);
                    return '<div class="btn-group1">' +
                        '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">&nbsp;&nbsp;' +
                        '<a class="btn btn-xs" rel="tooltip" data-placement="right" data-original-title="Move to Suggestions" href="'+reactivate_url+'">' +
                        '<span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>' +
                        '</a> ' +
                        '<a class="btn btn-xs confirm" rel="tooltip" data-placement="right" data-original-title="Delete Entry" data-display="'+full.value+'" data-href="'+delete_url+'" href="#">' +
                        '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>' +
                        '</a> ' +
                        '</div>';
                },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("a", nTd).tooltip();
                }
            },
            {'data': 'value', 'sName': 'Value', 'aTargets': [ 1 ],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("div", nTd).tooltip();
                },
            },
            {'data': 'source', 'sName': 'Source', 'aTargets': [ 3 ]},
            {'data': 'description', 'sName': 'Description', 'aTargets': [ 4 ]},
            {'data': 'creation_time', 'sName': 'Created', 'aTargets': [ 5 ]},
        ]
    });
    // Handle click on "Select all" control
    $('#select-all-items').on('click', function(){
        // Get all rows with search applied
        var rows = pTable.rows({ 'search': 'applied' }).nodes();
        // Check/uncheck checkboxes for all rows in the table
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });
    // Handle click on checkbox to set state of "Select all" control
    $('#table_list_suggestions tbody').on('change', 'input[type="checkbox"]', function(){
      // If checkbox is not checked
      if(!this.checked){
         var el = $('#select-all-items').get(0);
         // If "Select all" control is checked and has 'indeterminate' property
         if(el && el.checked && ('indeterminate' in el)){
            // Set visual state of "Select all" control
            // as 'indeterminate'
            el.indeterminate = true;
         }
      }
    });
    $('#form-selected').on('submit', function(e){
      var form = this;
      console.log("TEST")
      // Iterate over all checkboxes in the table
      pTable.$('input[type="checkbox"]').each(function(){
         // If checkbox doesn't exist in DOM
         if(!$.contains(document, this)){
            // If checkbox is checked
            if(this.checked){
               // Create a hidden element 
               $(form).append(
                  $('<input>')
                     .attr('type', 'hidden')
                     .attr('name', this.name)
                     .val(this.value)
               );
            }
         } 
      });
   });


});
$(document).on("click", ".confirm", function(e) {
        e.preventDefault();
        var title = $(this).attr('data-display');
        var location = $(this).attr('data-href');
        bootbox.confirm('Are you sure?<br/>(Delete Entry: '+title+')', function(confirmed) {
            if(confirmed)
            {
                window.location.replace(location);
            }
        });
});

</script>
{% endblock%}
