{% extends "base.html" %}
{% load static %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
            <h2 class="media-heading">🐑 Shepherd</h2>
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">// Overview</h3>
  </div>
  <div class="panel-body">
    <table class="table">
        <thead>
            <th>Number of Projects</th>
            <th>Number of Keywords</th>
        </thead>
        <tr>
            <td>{{ projects }}</td>
            <td>{{ keywords }}</td>
        </tr>
    </table>
  </div>
</div>

{% endspaceless%}
{% endblock%}

{% block javascript %}
{% endblock%}
