{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
#table_list_projects tbody tr.selected td {background-color:#B0BED9}
#table_list_projects tbody tr.odd.selected td {background-color:#acbad4}
</style>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
  <div class="media">
    <div class="media-left">
    </div>
    <div class="media-body">
      <h2 class="media-heading">👤 Account</h2>
    </div>
  </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">
  	<h3 class="panel-title" style="font-size: 0.9em;">// Change Password</h3>
  </div>
  <div class="panel-body">
    <form method="post">
      {% csrf_token %}
      {{ form }}
      </br>
      <button type="submit">Save changes</button>
    </form>
	</div>
</div>

{% endspaceless%}
{% endblock%}

{% block javascript %}
{% endblock%}
