{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
#table_list_projects tbody tr.selected td {background-color:#B0BED9}
#table_list_projects tbody tr.odd.selected td {background-color:#acbad4}
.scrollable-panel {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
}
</style>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
            <h2 class="media-heading">Keywords</h2>all keywords ...
        </div>
    </div>
</div>

{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}

<div class="container-fluid" style="padding-left:0; padding-right:0;">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">// General Actions</div>
        <div class="panel-body">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#KeywordModal">Add Keyword</button>&nbsp;
            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#ScanKeywordsModal">Scan keywords</button>&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    // Enabled Keywords
  </div>
  <div class="panel-body">
    <table id="table_list_keywords" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <th>ID</th>
        <th>Keyword</th>
        <th>Type</th>
        <th>Enabled</th>
        <th>Description</th>
        <th>Created</th>
        <th>Operations</th>
    </thead>
    </table>
    </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    // Disabled Keywords
  </div>
  <div class="panel-body">
    <table id="table_disabled_keywords" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
    <thead>
        <th>ID</th>
        <th>Keyword</th>
        <th>Type</th>
        <th>Enabled</th>
        <th>Description</th>
        <th>Created</th>
        <th>Operations</th>
    </thead>
    </table>
  </div>
</div>

<!-- New Panel for Interesting Keywords -->
<div class="panel panel-default">
  <div class="panel-heading">
    // Interesting potential Keywords
  </div>
  <div class="panel-body scrollable-panel">
    <ul id="interesting-keywords-list">
      {% for description in descriptions %}
        <li>{{ description }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- Add Keyword Modal -->
<div class="modal fade bs-example-modal-sm" id="KeywordModal" tabindex="-1" role="dialog" aria-labelledby="addKeywordModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4> New Keyword </h4>
        </div>
        <div class="modal-body">
           <form action="{% url 'keywords:add_keyword' %}" method="post" class="KeywordAdd"> 
                {% csrf_token %}
                {{ addkeywordform }}
                <br/>
                <input type="submit" class="btn btn-primary" value="Add Keyword" />
            </form>
        </div>
    </div>
  </div>
</div>

<!-- Scan Keywords Modal -->
<div class="modal fade" id="ScanKeywordsModal" tabindex="-1" role="dialog" aria-labelledby="scanKeywordsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{% url 'keywords:scan_keywords' %}" method="post">
        <div class="modal-header">
          <h4>Scan Keywords</h4>
        </div>
        <div class="modal-body">
          {% csrf_token %}

          <div class="form-group">
            <div class="form-check d-flex align-items-center" style="gap: 8px;">
              <input type="checkbox" class="form-check-input" id="scankeywords_domaintools" name="domaintools" >
              <label class="form-check-label mb-0" for="scankeywords_domaintools" style="margin-bottom:0; margin-left:6px;">
                DomainTools
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check d-flex align-items-center" style="gap: 8px;">
              <input type="checkbox" class="form-check-input" id="scankeywords_crtsh" name="crtsh" >
              <label class="form-check-label mb-0" for="scankeywords_crtsh" style="margin-bottom:0; margin-left:6px;">
                Crt.sh
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="form-check d-flex align-items-center" style="gap: 8px;">
              <input type="checkbox" class="form-check-input" id="scankeywords_shodan" name="shodan" >
              <label class="form-check-label mb-0" for="scankeywords_shodan" style="margin-bottom:0; margin-left:6px;">
                Shodan
              </label>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Run</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endspaceless%}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">
$(document).ready( function () {
    var pTable = $('#table_list_keywords').DataTable({
        processing: true, serverSide: true, pageLength: 25, select: true,
        oLanguage: { sProcessing: "<img src='{% static 'img/loading.gif' %}'>", },
        order: [[ 4, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/v1/project/{{ projectid }}/keywords/enabled/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {'data': 'id', 'sName': 'ID', 'aTargets': [ 0 ]},
            {'data': 'keyword', 'sName': 'Keyword', 'aTargets': [ 1 ],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("div", nTd).tooltip();
                },
            },
            {'data': 'ktype', 'sName': 'Type', 'aTargets': [ 4 ]},
            {'data': 'enabled', 'sName': 'Enabled', 'aTargets': [ 2 ],
                "mRender": function (data, type, full) {
                    var toggle_url = "{% url 'keywords:toggle_keyword' keywordid=0 %}".replace(0, full.id);
                    return '<div rel="tooltip" data-placement="left" data-original-title="Disable Keyword"><a href="'+toggle_url+'"><span class="label label-success">'+data+'</span></a></div>';
                },
            },
            {'data': 'description', 'sName': 'Description', 'aTargets': [ 3 ]},
            {'data': 'creation_time', 'sName': 'Created', 'aTargets': [ 6 ]},
            {'data': 'id', 'sName': 'Operations', 'aTargets': [ 10 ],
                'bSortable': false,
                "mRender": function (data, type, full) {
                    var delete_url = "{% url 'keywords:delete_keyword' keywordid=0 %}".replace(0, full.id);
                    return '<div class="btn-group1">' +
                        '<a class="btn btn-xs confirm" rel="tooltip" data-placement="right" data-original-title="Delete Keyword" data-display="'+full.keyword+'" data-href="'+delete_url+'" href="#">' +
                        '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>' +
                        '</a> ' +
                        '</div>';
                    },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("a", nTd).tooltip();
                }
            },
        ]
    });
    var pTable = $('#table_disabled_keywords').DataTable({
        processing: true, serverSide: true, pageLength: 25, select: true,
        oLanguage: { sProcessing: "<img src='{% static 'img/loading.gif' %}'>", },
        order: [[ 4, "desc" ]],
        ajax: {
            processing: true,
            url: "/api/v1/project/{{ projectid }}/keywords/disabled/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {'data': 'id', 'sName': 'ID', 'aTargets': [ 0 ]},
            {'data': 'keyword', 'sName': 'Keyword', 'aTargets': [ 1 ],
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("div", nTd).tooltip();
                },
            },
            {'data': 'ktype', 'sName': 'Type', 'aTargets': [ 4 ]},
            {'data': 'enabled', 'sName': 'Enabled', 'aTargets': [ 2 ],
                "mRender": function (data, type, full) {
                    var toggle_url = "{% url 'keywords:toggle_keyword' keywordid=0 %}".replace(0, full.id);
                    return '<div rel="tooltip" data-placement="left" data-original-title="Enable Keyword"><a href="'+toggle_url+'"><span class="label label-danger">'+data+'</span></a></div>';
                },
            },
            {'data': 'description', 'sName': 'Description', 'aTargets': [ 3 ]},
            {'data': 'creation_time', 'sName': 'Created', 'aTargets': [ 6 ]},
            {'data': 'id', 'sName': 'Operations', 'aTargets': [ 10 ],
                'bSortable': false,
                "mRender": function (data, type, full) {
                    var delete_url = "{% url 'keywords:delete_keyword' keywordid=0 %}".replace(0, full.id);
                    return '<div class="btn-group1">' +
                        '<a class="btn btn-xs confirm" rel="tooltip" data-placement="right" data-original-title="Delete Keyword" data-display="'+full.keyword+'" data-href="'+delete_url+'" href="#">' +
                        '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>' +
                        '</a> ' +
                        '</div>';
                    },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("a", nTd).tooltip();
                }
            },
        ]
    });

    // Limit the number of keywords displayed initially
    var $interestingKeywordsList = $('#interesting-keywords-list');
    var $keywords = $interestingKeywordsList.children('li');
    var initialDisplayCount = 20;

    $keywords.slice(initialDisplayCount).hide();

    // Add a "Show More" button if there are more than initialDisplayCount keywords
    if ($keywords.length > initialDisplayCount) {
        $interestingKeywordsList.after('<button id="show-more-keywords" class="btn btn-primary btn-xs">Show More</button>');
    }

    // Show more keywords when the "Show More" button is clicked
    $('#show-more-keywords').on('click', function() {
        $keywords.show();
        $(this).remove();
    });
});
$(document).on("click", ".confirm", function(e) {
    e.preventDefault();
    var title = $(this).attr('data-display');
    var location = $(this).attr('data-href');
    bootbox.confirm('Are you sure?<br/>(Delete Entry: ' + title + ')', function(confirmed) {
        if(confirmed)
        {
            window.location.replace(location);
        }
    });
});
</script>
{% endblock %}
