{% extends "base2.html" %}
{% load static %}

{% block header %}
<style>
#table_list_findings tbody tr.selected td {background-color:#B0BED9}
#table_list_findings tbody tr.odd.selected td {background-color:#acbad4}
</style>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
            <h2 class="media-heading">Findings</h2>monitored findings ...
        </div>
    </div>
</div>
{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}

<form id="form-selected-findings" action="" method="POST">
  {% csrf_token %}

<div class="container-fluid" style="padding-left:0; padding-right:0;">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">// Selected Actions</div>
        <div class="panel-body">
          <!-- <button type="submit" name="btnignore" id="ignore-selected-findings" class="btn btn-primary btn-xs">Ignore selected</button>&nbsp;
          <button type="submit" name="btnmove" id="move-selected-findings" class="btn btn-primary btn-xs">Move back to suggestions</button>&nbsp; -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Findings List Tabs -->
<div class="panel panel-default">
  <div class="panel-heading">
    // Monitored Findings
  </div>
  <div class="panel-body">
    <table id="table_list_findings" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
      <thead>
        <tr>
          <th><input type="checkbox" name="select_all" value="1" id="select-all-findings">&nbsp; Operations</th>
          <th>Domain Name</th>
          <th>Vulnerability Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>CVE</th>
          <th>Severity</th>
          <th>Scan Date</th>
        </tr>
        <tr>
          <th></th>
          <th><input type="text" placeholder="Search Domain Name" class="column-search form-control input-sm"></th>
          <th><input type="text" placeholder="Search Vulnerability Name" class="column-search form-control input-sm"></th>
          <th><input type="text" placeholder="Search Type" class="column-search form-control input-sm"></th>
          <th><input type="text" placeholder="Search Description" class="column-search form-control input-sm"></th>
          <th><input type="text" placeholder="Search CVE" class="column-search form-control input-sm"></th>
          <th><input type="text" placeholder="Search Severity" class="column-search form-control input-sm"></th>
          <th><input type="text" placeholder="Search Scan Date" class="column-search form-control input-sm"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>

</form> <!-- close selection form -->

{% endspaceless %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">

// Populate Datatables
$(document).ready( function () {
    // Monitored findings
    var findingsTable = $('#table_list_findings').DataTable({
        processing: true, serverSide: true, pageLength: 25,
        orderCellsTop: true,
        oLanguage: { sProcessing: "<img src='{% static 'img/loading.gif' %}'>", },
        order: [[ 1, "asc" ]],
        ajax: {
            processing: true,
            url: "/api/v1/project/{{ projectid }}/findings/all/",
            dataSrc: "results",
            type: "GET",
            dataType: "json"
        },
        columns: [
            {'data': 'id', 'sName': 'Operations', 'aTargets': [ 0 ],
                'bSortable': false,
                "mRender": function (data, type, full) {
                    return '<div class="btn-group1">' +
                        '<input type="checkbox" name="id[]" value="' + $('<div/>').text(data).html() + '">&nbsp;&nbsp;' +
                        '</div>';
                },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("a", nTd).tooltip();
                }
            },
            {'data': 'domain_name', 'sName': 'Domain Name', 'aTargets': [ 1 ],
                "mRender": function (data, type, full) {
                    var select_url = "{% url 'findings:view_asset' uuid=0 %}".replace(0, full.domain);
                    return '<div rel="tooltip" data-placement="left" data-original-title="Show details"><a href="'+select_url+'">'+data+'</a></div>';
                },
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $("div", nTd).tooltip();
                },
            },
            {'data': 'name', 'sName': 'Vulnerability Name', 'aTargets': [ 2 ]},
            {'data': 'type', 'sName': 'Type', 'aTargets': [ 3 ]},
            {'data': 'description', 'sName': 'Description', 'aTargets': [ 4 ]},
            {'data': 'cve', 'sName': 'CVE', 'aTargets': [ 5 ]},
            {'data': 'severity', 'sName': 'Severity', 'aTargets': [ 6 ]},
            {'data': 'scan_date', 'sName': 'Scan Date', 'aTargets': [ 7 ]},
        ]
    });

    // Apply the search
    findingsTable.columns().every(function () {
        var that = this;
        $('input.column-search').on('keyup change', function () {
            let columnIndex = $(this).parent().index();
            findingsTable.column(columnIndex).search(this.value).draw();
        });
    });

    // checkbox stuff
    // Handle click on "Select all" control
    $('#select-all-findings').on('click', function(){
        // Get all rows with search applied
        var rows = findingsTable.rows({ 'search': 'applied' }).nodes();
        // Check/uncheck checkboxes for all rows in the table
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });
    // Handle click on checkbox to set state of "Select all" control
    $('#table_list_findings tbody').on('change', 'input[type="checkbox"]', function(){
        // If checkbox is not checked
        if(!this.checked){
            var el = $('#select-all-findings').get(0);
            // If "Select all" control is checked and has 'indeterminate' property
            if(el && el.checked && ('indeterminate' in el)){
                // Set visual state of "Select all" control
                // as 'indeterminate'
                el.indeterminate = true;
                }
            }
    });
    // submit
    $('#form-selected-findings').on('submit', function(e){
        var form = this;
        // Iterate over all checkboxes in the table
        findingsTable.$('input[type="checkbox"]').each(function(){
            // If checkbox doesn't exist in DOM
            if(!$.contains(document, this)){
                // If checkbox is checked
                if(this.checked){
                    // Create a hidden element 
                    $(form).append(
                        $('<input>')
                        .attr('type', 'hidden')
                        .attr('name', this.name)
                        .val(this.value)
                    );
                }
            } 
        });
    });
});

$(document).on("click", ".confirm", function(e) {
        e.preventDefault();
        var title = $(this).attr('data-display');
        var location = $(this).attr('data-href');
        bootbox.confirm('Are you sure?<br/>(Ignore Entry: '+title+')', function(confirmed) {
            if(confirmed)
            {
                window.location.replace(location);
            }
        });
});
</script>
{% endblock %}