{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
#table_list_scheduled_jobs tbody tr.selected td {background-color:#B0BED9}
#table_list_scheduled_jobs tbody tr.odd.selected td {background-color:#acbad4}
</style>
{% endblock %}

{% block content %}
{% spaceless %}
<div class="page-header">
    <div class="media">
        <div class="media-left"></div>
        <div class="media-body">
            <h2 class="media-heading">Scheduled Jobs</h2>All scheduled jobs configured with Celery Beat..
        </div>
    </div>
</div>

{% if messages %}{% for message in messages %}<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>{% endfor %}{% endif %}

<div class="container-fluid" style="padding-left:0; padding-right:0;">
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">// General Actions</div>
    <div class="panel-body">
          <button type="button" class="btn btn-primary btn-xs" onclick="location.href='/admin/django_celery_beat/periodictask/'">
            Edit scheduled jobs
          </button>    
    </div>
  </div>
</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    // Scheduled Jobs
  </div>
  <div class="panel-body">
    <table id="table_list_scheduled_jobs" class="table table-condensed table-striped table-bordered" style="font-size: 0.9em;">
      <thead>
        <tr>
          <th>Name</th>
          <th>Task</th>
          <th>Schedule</th>
          <th>Enabled</th>
          <th>Last Run</th>
          <th>Description</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
{% endspaceless %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/bootbox.min.js' %}"></script>
<script type="text/javascript" language="javascript" class="init">
$(document).ready(function () {
    function initializeDataTable(tableId, ajaxUrl, columns) {
        return $(tableId).DataTable({
            processing: true,
            serverSide: true,
            pageLength: 25,
            orderCellsTop: true,
            oLanguage: { sProcessing: "<img src='{% static 'img/loading.gif' %}'>", },
            order: [[0, "asc"]],
            ajax: {
                url: ajaxUrl,
                dataSrc: "results",
                type: "GET",
                dataType: "json"
            },
            columns: columns
        });
    }

    const scheduledJobColumns = [
        { 'data': 'name', 'sName': 'Name' },
        { 'data': 'task', 'sName': 'Task' },
        { 'data': 'schedule', 'sName': 'Schedule' },
        { 'data': 'enabled', 'sName': 'Enabled',
          'render': function(data, type, row) {
            return data ? '<span class="label label-success">Enabled</span>' : '<span class="label label-danger">Disabled</span>';
          }
        },
        { 'data': 'last_run_at', 'sName': 'Last Run',
          'render': function(data, type, row) {
            if (!data) return '';
            if (window.moment) {
              if (typeof data === 'string' && data.endsWith('Z')) {
                return moment.utc(data).local().format('DD-MM-YYYY HH:mm');
              }
              return moment(data).format('DD-MM-YYYY HH:mm');
            }
            return data;
          }
        },
        { 'data': 'description', 'sName': 'Description' }
    ];

    var scheduledJobTable = initializeDataTable(
        '#table_list_scheduled_jobs',
        "/api/v1/scheduled_jobs/", // You must implement this API endpoint to return scheduled jobs in JSON
        scheduledJobColumns
    );
});
</script>
{% endblock %}
